<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#roadsterModal">Roadster Info</button>    
    <!-- Modal -->
    <div class="modal fade" id="roadsterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Roadster Info</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <% if (locals.roadster) { %>
            <p><b>Name: </b><%= roadster.name %></p>
            <p><b>Launch Date: </b><%= roadster.launch_date_utc %></p>
            <p><b>Orbit Type: </b><%= roadster.orbit_type %></p>
            <p><b>Details: </b><%= roadster.details %></p>
            <% } %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>